/* ABOUT  */

.center-text {
    align-content: center;
    text-align: justify;
    font-size: 18px;
  }
  
  .selfie-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 20px;
  }
  
  .hr-styling-about-page {
    margin-top: 4em;
    margin-bottom: 4em;
  }
  
  .about-page-quote {
  text-align: center;
  line-height: 1.5;
  font-size: 1.05em;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 4em;
  }
  
  .selfcard {
    display: flex;
    text-align: center;
    font-size: 14px;
    flex-direction: column;
    margin: 40px;
  }
  
  .icons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 8px;
  }
  
  .icon {
    width: 28px;
    height: 28px;
    padding: 4px;
  
  }
  
  .iwi-container {
    display: flex;
    flex-wrap: wrap;
    align-self: auto;;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  
  }
  
  .iwi-blurb {
      font-size: 0.95em;
      font-weight: lighter;
      line-height: 1.5;
      margin-bottom: 2.2em;
      text-align: center;
      margin-top: -2.2em;
  }
  
  .iwi-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 20px; 
    width: 250px;
    height: 300px;
    border: white;
    border-style: solid;
    border-radius: 25px;
    align-content: center;
    justify-content: center;
  
  }
  
  .iwi-box:hover {
    background-color: #8f1e74;
    border-color: #ffffff;
  }
  
  .iwi-logos-wrapper {
    display: flex;
    
  }
  .iwi-logos {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background: white;
    justify-content: center;
    align-content: center
  }
  
  .pic {
    border-radius: 85px;
    width: 125px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
  }