/* CONTACT */

.contactpg form {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
  }
  
  .contactpg .submit-flex {
      display: flex;
      flex-direction: row;
      display: inline-block;
  }
  
  .contactpg .name-email {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .contactpg .form-name {
    display: flex;
    display: inline-block;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
  }
  
  .contactpg .form-email {
    display: flex;
    display: inline-block;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
  }
  
  .contactpg textarea {
    margin: 0px;
    height: 8em;
    width: 50%;
    border-radius: 4px;
  }
  
  .contactpg input {
    height: 2em;
    width: 50%;
    border-radius: 4px;
  }