/* NAV */

/* Encompasses everything in the Nav component */
.nav-header {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  /* Box around just the logo div in the Nav component*/
  .nav-logo {
    display: flex;
    padding-top: 20px;
  }

  .nav-links {
    height: 50px;
  }
  
  /* Logo div in the Nav component */
  .marama-logo {
    height: 22px;
  }
  
  /* Styles the individual divs around the nav links */
    .nav-link-individual-styling {
      padding: 15px;
      font-size: 13px;
      letter-spacing: 2.1px;
  }

  /* Dropdown Button */
.dropbtn {
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 4px;
  display : inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display : inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff5753;
  min-width: 10px;
  box-shadow: 0 0 2px #7d018d;
  z-index: 1;
  border-radius: 4px;
  right: 0;
  left: auto;
  margin-right: -2px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d64844;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; 
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff5753;
}