/* REGISTER */

form {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}

.submit-flex {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.name-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.form-name {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.form-email {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

textarea {
  margin: 0px;
  height: 8em;
  width: 50%;
  border-radius: 4px;
}

input {
  height: 2em;
  width: 50%;
  border-radius: 4px;
}