/* REGISTER */

.orgspg form {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-right:auto;
  margin-left:auto;
}

.orgspg .submit-flex {
    display: flex;
    flex-direction: row;
    display: inline-block;
}
  
.orgspg .form-companyname {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.orgspg .form-email {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.orgspg .form-username {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.orgspg .form-password {
  display: flex;
  display: inline-block;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2em;
}

.orgspg textarea {
  margin: 0px;
  height: 8em;
  width: 50%;
  border-radius: 4px;
}

.orgspg input {
  height: 2em;
  width: 18em;
  border-radius: 4px;
}